<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Insert title here</title>
<link rel= "stylesheet" href="../styles/css/bootstrap.min.css"/>
<script type="text/javascript" src ="../script/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="./styles/js/bootstrap.min.js"></script>
</head>
<body>
	Halaman Barang
	<br>
	<button id="idBtnNewBarang" class="btn btn-succes">Create New</button>
	<br>
	<!-- Tempat untuk jahit tabel -->
		<!-- /.modal -->

	<div id="idDivTableBarang"></div>

	<div id="idModal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Masukan Data Barang</h4>
				</div>
				<div id="idMdlBody" class="modal-body">
					

				</div>

			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<script>
		$(document).ready(function() {

			$.ajax({
				url : './listbarang',
				method : 'Get',
				success : function(model) {

					$('#idDivTableBarang').html(model);
				},
				error : function(model) {
					debugger;
				}
			});
		});
		$('#idBtnNewBarang').click(function() {
			$.ajax({
				url : './NewBarang',
				method : 'Get',
				success : function(model) {

					$('#idModal').modal('show');
					$('#idMdlBody').html(model);

				},
				error : function(model) {
					debugger;
				}
			})

		});
	</script>

</body>
</html>