<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<title>Insert title here</title>
</head>
<body>
<div class = "table-responsive">
	<table class = "table" id="idTabelListTransaksi">
		<thead>
			<tr>
			 	<td>Nama</td>
			 	<td>Jenis</td>
			 	<td>Harga</td>
			 	<td>Action</td>
			</tr>
		</thead>
		<tbody id = "idTabelTransaksi">
		<tr th:each="item : ${keybarang}">
					<td th:text="${item.namabarang}">Nama</td>
					<td th:text="${item.jenisbarang}">Jenis</td>
					<td th:text="${item.hargabarang}">Harga</td>
					<td>
						<button type="button" class="btn btn-info clBtnPlus" th:data.id="${item.id}"
							th:data.nmbarang="${item.namabarang}"
							th:data.jmlbarang="${item.jmlbarang}"
							th:data.jnsbarang="${item.jenisbarang}"
							th:data.kota="${item.kotapembuat}"
							th:data.hrgbarang="${item.hargabarang}">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
		</tbody>
	</table>
	</div>
<script type="text/javascript">

$('.clBtnPlus').click(function(){
	debugger;
	var vCekId = true;
	var vJhtHtml = '';
	var id=$(this).attr('data.id');
	var nama=$(this).attr('data.nmbarang');
	var jumlah=$(this).attr('data.jmlbarang');
	var harga=$(this).attr('data.hrgbarang');
	reIndexTable();
	var vTotHarga=0;
	var vStrHtmlTrasaksi ='';
	debugger;
	//Untuk setiap kelas nama barang yang sudah dibuat pada script dibawah, maka:
		$('.clNmBarang').each(function (i, d) {
			//Jika id barang yang disimpan pada tombol sama dengan id pada kelas yang sudah dibuat, maka:
			if (id == ($(this).attr('dataID'))) {
				vCekId = false;
                
            	vJmlBarang = $(this).parent().parent().find('td input:text.clJmlBarang').val();
            	vJmlBarang++;
            	$(this).parent().parent().find('td input:text.clJmlBarang').val(vJmlBarang);
            	harga = vJmlBarang * harga;
            	$(this).parent().parent().find('td input:text.clHargaBarang').val(harga);
            	
			}
		});

		if (vCekId == true) {
			debugger;
    		//vJmlBarang = 1;
    		vStrHtmlTrasaksi = vStrHtmlTrasaksi +
        	'<tr>' +
            '<td>' +
                '<input type="text" class="clNmBarang" dataID="' + id + '" value="' + nama + '" />' +
                '<input type="hidden" name="TrxDetail[0].BarangID"  value="' + id + '" />' +
            '</td>' +
            '<td><input type="text" class="clJmlBarang" value="' + 1 + '" /></td>' +
            '<td><input type="text" class="clHargaBarang" value=" ' + harga + '" /></td>' +
            '<td><button type = "button" class="btn btn-danger clBtnDeleteBrang"  > - </button></td>' +
        	'</tr>';
        	
    		$('#idTabelTransaksi2').append(vStrHtmlTrasaksi);
    		$('.clHargaBarang').each(function(i,d){
    			vTotHarga=parseInt($(this).val())+vTotHarga;
    			$('#idTotalHarga').val(vTotHarga);
    			
    		});
    	
    		debugger;
    		reIndexTable();
		}else{
			debugger;
			vCekId=true;
			
			$('#idTabelTransaksi2').append(vStrHtmlTrasaksi);
    		$('.clHargaBarang').each(function(i,d){
    			vTotHarga=parseInt($(this).val())+vTotHarga;
    			$('#idTotalHarga').val(vTotHarga);
    			
    		});
    		
    		debugger;
		
		}
		
		$('.clBtnDeleteBrang').click(function () {
			$(this).parent().parent().remove();
			
			
        	reIndexTable();
        	debugger;
    	});
		
});

function reIndexTable() {
	var rowCount = $('#idTabelTransaksi2 tr').length;
    debugger;
    if (rowCount > 0) {
    	var idx = 0;
        $.each($("#idTabelTransaksi2").find("tr"), function (i, val) {
        	//alert(idx);
            var vIdBarang = $(this).find(":input[name*='.BarangID']");
            debugger;
            $(vIdBarang).attr("name", vIdBarang.attr("name").replace(/\[.*?]\s?/g, "[" + idx + "]"));

            idx += 1;
     	  
        });
    }
}
$(document).ready(function() {
	$('#idTabelListTransaksi').DataTable();
	
});

$('#idBayar').on('keypress',function(e) {
		var vSisaBayar=0;
	    if(e.which == 13) {
	        debugger;
	        var vBayar=document.getElementById('idBayar').value;
	        var vTotalHarga=document.getElementById('idTotalHarga').value;
	        vSisaBayar=(vBayar-vTotalHarga);
	        if(vSisaBayar<0){
	        	$('#idSisa').val("UANG ANDA KURANG");
	        	debugger;
	        }else if(vSisaBayar>=0){
	        	$('#idSisa').val(vSisaBayar);
	        	debugger;
	        }
	    }
	});
	
    
    	
            
</script>
</body>
</html>